* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: 'Arial', sans-serif;
    color: #f5f5f5;
    line-height: 1.6;
    padding: 20px;
    background: linear-gradient(to bottom, #444, #222);
    font-size: normal;
    font-style: justify;
}


header {
    background-color: #222;
    padding: 20px;
    text-align: center;
    margin-right: 2%;
    width: 98%;
    position: fixed;
    top: 0;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgb(255, 255, 255);
    font-family: "Space Grotesk";
    margin-bottom: 1%;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.left-container img {
    width: 120px;
    height: 120px;
    border: 4px solid #f5f5f5;
    border-radius: 8px;
    transition: transform 0.3s ease, width 0.3s ease;
}

.left-container img:hover {
    transform: scale(0.9);
}

.right-container h1 {
    color: #fff;
    font-size: 2.5em;
    font-weight: bold;
    letter-spacing: 1px;
}

.right-container .subtitle {
    color: #ccc;
    font-size: 1.2em;
    margin-top: 5px;
}

main {
    margin-top: 40px;
    display: flex;
}


.first-container,
.third-container {
    position: fixed;
    top: 21px;
    width: 23%;
    height: auto;
    z-index: 1;
    margin-top: 10%;
}

.first-container {
    left: 1%;
}

.third-container {
    right: 1%;
}

.first-container img,
.third-container img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}



.second-container{
    width: 50%;
    margin-left: 25%;
    margin-top: 8%;
}



section {
    margin-bottom: 40px;
    padding: 20px;
    background-color: rgba(27, 27, 27, 0.5);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgb(255, 255, 255);
}

h2 {
    font-size: 2em;
    font-weight: 600;
    color: #fff;
    margin-bottom: 15px;
    text-decoration: underline;
}

p {
    font-size: 1.1em;
    color: #ddd;
    line-height: 1.8;
    text-align: justify;
}

.retour {
    text-align: center;
    margin-top: 30px;
}

.retour button {
    display: inline-block;
    color: #fff;
    background-color: #333;
    font-weight: bold;
    padding: 12px 25px;
    border: 2px solid transparent;
    border-radius: 5px;
    text-align: center;
    transition: color 0.3s, background-color 0.3s, transform 0.3s;
}

.retour button:hover {
    color: #000000;
    background-color: #f5f5f5;
    transform: scale(1.05);
    cursor: pointer;
}

@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    header h1 {
        font-size:larger;
    }

    h2 {
        font-size:large;
    }

    p {
        font-size: small;
    }

    footer p {
        font-size: xx-small;
    }

    .retour button:active {
        background-color: white;
        color: #000;
    }

    header {
        position: initial;
    }

    .first-container,
    .third-container {
        display: none;
    }

    .second-container {
        width: 100%;
        margin-left: 0%;
    }

}

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    animation: fadeOut 0.5s forwards;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 0.5s linear forwards;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    99% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
        display: none;
    }
}
